.pedidos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.04fr 0.06fr 2.9fr;
    gap: 1rem 1rem;
    grid-template-areas: "pesquisa pesquisa pesquisa" "botão botão botão" "card1 card2 card3";
}

.pesquisa { grid-area: pesquisa; }

.botão { 
    grid-area: botão; 
    margin: 0 auto;
}

.card1 { grid-area: card1; }

.card2 { grid-area: card2; }

.card3 { grid-area: card3; }